body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.messures {
  height: auto;
  width: 12rem;
}
.products {
  transition: clip-path 400ms ease-in-out;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}
.products:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.btnHover {
  background-color: #4a148c;
  color: #fff;
  transition: 0.5s ease;
}
.btnHover:hover {
  background-color: forestgreen;
  color: #fff;
}
